.header{
    background: #1565c0;
    color: #ffffff;
    padding: 18px 20px 20px 20px;
    margin-bottom: 20px;
}
.header a{
    color: #ffffff;
    font-size: 20px;
}
.headerName{
    font-size: 20px;
}
.image img{
    width: 100%;
}

h3{
    margin: 0px;
}
